@import "./utils/mixin";
@import "./utils/variables";
@import "./base/police";
@import "./composants/btn";
@import "./utils/keyframes";

body{
    margin: 0;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
}

section {
    @include desktop {
        display: flex;
        justify-content: center;
        border-top: 2px solid #F2F2F2;
    }
}

@import "./layout/header";

@import "./composants/loading";    
@import "./pages/acceuil/localisation-restaurant";
@import "./pages/acceuil/nav";
@import "./pages/acceuil/fonctionnement";
@import "./pages/acceuil/liste-restaurant";   
@import "./pages/menu/menu";

@import "./layout/_footer.scss";