@import "./utils/variables";
@import "./base/police";


body{
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4% 0 2% 0;
    img {
        display: flex;
        width: 40%;
    }
}

#localisation {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darken($colour-grey, 5%);
    border-top: 1px solid $colour-grey;
    box-shadow: inset 0px 2px 5px darken($colour-grey, 20%);
    i {
        margin: 2%;
        font-size: medium;
    }
    h1 {
        margin: 4% 4% 4% 2%;
        font-size: medium;
    }
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4% 0 4% 0;
    background-color: $colour-grey;
    h1 {
        width: 60%;
        text-align: center;
    }
    p {
        width: 70%;
        text-align: center;
    }
    .btn {
        display: flex;
        justify-content: center;
        width: 50%;
        margin: 4%;
        padding: 10px;
        border: 1px solid $colour-primary;
        background-color: $colour-primary;
        border-radius: 20px;
    }
}