footer {
    & menu{
        position: relative;
        top: 210px;
    }
    display: flex;
    flex-direction: column;
    padding: 5% 0 0 5%;
    background-color: darken($colour-grey, 75%);
    & img {
        width: 30%;
        padding-bottom: 4%;
        color: $colour-white;
        
    }
    @include desktop {
        padding: 2% 0 0 2%;
        & img {
            padding-bottom: 1%;
        }
    }
}

.link {
    margin-bottom: 2%;
    color: $colour-white;
    & i {
        font-size: 14px;
        width: 14px;
        margin-right: 1%;
        color: $colour-white;
    }
    @include desktop {
        margin-bottom: 2px;
        & i {
            font-size: 18px;
        }
    }
}