.site-header {
    display: flex;
    padding: 4% 0 3% 0;
    &__btn-home{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 5%;
        & i {
            width: 20%;
        }
    }
    &__logo{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        & img {
        width: 40%;
        }
    }
}    