@font-face {
  font-family: "roboto";
  src: url("Roboto-Black.ttf") format("ttf"), url("Roboto-BlackItalic.ttf") format("ttf"), url("Roboto-Bold.ttf") format("ttf"), url("Roboto-BoldItalic.ttf") format("ttf"), url("Roboto-Italic.ttf") format("ttf"), url("Roboto-Ligth.ttf") format("ttf"), url("Roboto-LigthItalic.ttf") format("ttf"), url("Roboto-Medium.ttf") format("ttf"), url("Roboto-MediumItalic.ttf") format("ttf"), url("Roboto-Regular.ttf") format("ttf"), url("Roboto-Thin.ttf") format("ttf"), url("Roboto-ThinItalic.ttf") format("ttf"), url("RobotoCondensed-Bold.ttf") format("ttf"), url("RobotoCondensed-BoldItalic.ttf") format("ttf"), url("RobotoCondensed-Italic.ttf") format("ttf"), url("RobotoCondensed-Ligth.ttf") format("ttf"), url("RobotoCondensed-LigthItalic.ttf") format("ttf"), url("RobotoCondensed-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "shrikhand";
  src: url("Shrikhand-Regular.otf") format("otf");
}
h1, h2, h3 {
  font-family: "shrikhand", sans-serif;
}

h2 {
  margin-left: 5%;
}

p {
  font-family: "roboto", sans-serif;
}

.btn {
  font-family: "shrikhand", sans-serif;
  font-size: medium;
  font-weight: bold;
  color: #FFF;
}

li {
  font-family: "shrikhand", sans-serif;
  font-size: large;
  font-weight: bold;
}

a {
  color: #000;
  text-decoration: none;
  font-family: "robot", sans-serif;
}

i {
  font-size: 2em;
}

span {
  font-family: "roboto", sans-serif;
  font-size: medium;
}

body {
  margin: 0;
}

#accueil .site-header {
  display: flex;
  padding: 4% 0 3% 0;
}
#accueil .site-header__btn-home {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
}
#accueil .site-header__btn-home i {
  width: 20%;
}
#accueil .site-header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#accueil .site-header__logo img {
  width: 40%;
}
#accueil #localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5e5e5;
  border-top: 1px solid #F2F2F2;
  box-shadow: inset 0px 2px 5px #bfbfbf;
}
#accueil #localisation i {
  margin: 2%;
  font-size: medium;
}
#accueil #localisation h1 {
  margin: 4% 4% 4% 2%;
  font-size: medium;
}
#accueil nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4% 0 8% 0;
  margin: 0 0 5% 0;
  background-color: #F2F2F2;
}
#accueil nav h2 {
  width: 60%;
  margin-bottom: 2%;
  margin-left: 0;
  text-align: center;
}
#accueil nav p {
  width: 70%;
  margin-top: 2%;
  text-align: center;
}
#accueil .btn {
  display: flex;
  justify-content: center;
  margin: 1%;
  padding: 20px 10px 20px 10px;
  width: 50%;
  border: 1px solid #9356DC;
  background-color: #9356DC;
  border-radius: 40px;
}
#accueil #fonctionnement {
  display: flex;
  flex-direction: column;
  margin: 10% 0 10% 0;
}
#accueil #fonctionnement ul.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5%;
}
#accueil #fonctionnement ul.list > li {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 20px 10px 20px 10px;
  margin: 10px;
  width: 85%;
  border: 1px solid #F2F2F2;
  background-color: #F2F2F2;
  border-radius: 20px;
  box-shadow: 3px 5px 10px #d9d9d9;
  list-style-type: decimal;
}
#accueil #fonctionnement ul.list > li i {
  font-size: 25px;
  margin: 0 10% 0 10%;
  color: #737373;
}
#accueil #liste_restaurants {
  display: flex;
  flex-direction: column;
  background-color: #F2F2F2;
  padding-bottom: 10%;
}
#accueil #liste_restaurants h1 {
  margin-top: 15%;
  margin-left: 5%;
}
#accueil .liste_block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#accueil a {
  width: 100%;
}
#accueil .block_restaurant {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-bottom: 4%;
  border: 0 solid #FFF;
  background-color: #FFF;
  border-radius: 20px;
}
#accueil .block_img {
  display: flex;
  width: 100%;
  height: 200px;
  border-radius: 20px 20px 0 0;
  background-position: center center;
  background-size: cover;
  position: relative;
}
#accueil .block_img--paletteGout {
  background: url("/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
}
#accueil .block_img--noteEnchantee {
  background: url("/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
}
#accueil .block_img--laFrancaise {
  background: url("/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
}
#accueil .block_img--deliceSens {
  background: url("/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
}
#accueil .popup_new {
  position: absolute;
  top: 15px;
  right: 15px;
  font-family: "roboto", sans-serif;
  font-size: small;
  font-weight: bold;
  color: #278870;
  padding: 5px 10px 5px 10px;
  margin: 0;
  border: 1px solid #99E2D0;
  background-color: #99E2D0;
  border-radius: 2px;
}
#accueil .popup_new__disable {
  display: none;
}
#accueil .block_description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
#accueil .block_description i {
  font-size: 25px;
  margin-right: 5%;
}
#accueil .description {
  display: flex;
  flex: 1;
  flex-direction: column;
}
#accueil .description h3 {
  font-size: large;
  margin: 4% 0 1% 4%;
}
#accueil .description p {
  font-size: large;
  margin: 1% 0 4% 4%;
}
#accueil footer {
  display: flex;
  flex-direction: column;
  padding: 5% 0 0 5%;
  background-color: #333333;
}
#accueil footer menu {
  position: relative;
  top: 210px;
}
#accueil footer img {
  width: 30%;
  padding-bottom: 4%;
  color: #FFF;
}
#accueil .link {
  margin-bottom: 2%;
}
#accueil .link i {
  font-size: 14px;
  width: 14px;
}

#carte_menu .site-header {
  display: flex;
  padding: 4% 0 3% 0;
}
#carte_menu .site-header__btn-home {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
}
#carte_menu .site-header__btn-home i {
  width: 20%;
}
#carte_menu .site-header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#carte_menu .site-header__logo img {
  width: 40%;
}
#carte_menu .menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f7f7f7;
}
#carte_menu .menu__bg {
  width: 100%;
  height: 300px;
  background-position: center center;
  background-size: cover;
  z-index: 1;
}
#carte_menu .menu__bg--paletteGout {
  background: url("/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
}
#carte_menu .menu__bg--noteEnchantee {
  background: url("/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
}
#carte_menu .menu__bg--laFrancaise {
  background: url("/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
}
#carte_menu .menu__bg--deliceSens {
  background: url("/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
}
#carte_menu .menu__commande {
  position: relative;
  bottom: 50px;
  width: 100%;
  border: 0px solid #FFF;
  border-radius: 40px 40px 0 0;
  background-color: #f7f7f7;
  z-index: 2;
}
#carte_menu .menu__commande__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 5%;
  margin-top: 4%;
  /* & h1 {

  } */
}
#carte_menu .menu__commande__title i {
  margin-right: 10%;
}
#carte_menu .menu__commande__liste {
  display: flex;
  flex-direction: column;
  padding: 0 5% 5% 5%;
}
#carte_menu .menu__commande__liste p {
  width: 40px;
  border-bottom: 3px solid #99E2D0;
}
#carte_menu .menu .block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  border: 0px solid #FFF;
  border-radius: 20px;
  box-shadow: 2px 2px 3px #99E2D0;
  background-color: #FFF;
  padding: 2%;
  margin-bottom: 4%;
}
#carte_menu .menu .block__content {
  display: flex;
  flex-direction: column;
}
#carte_menu .menu .block__content__title {
  font-weight: bold;
  margin: 4px 0 4px 5px;
}
#carte_menu .menu .block__content__subtitle {
  margin: 4px 0 4px 5px;
}
#carte_menu .menu .block__prix {
  display: flex;
  align-items: flex-end;
  margin: 4px 10px 4px 0;
  font-family: "roboto", sans-serif;
  font-weight: bold;
}
#carte_menu .menu .btn {
  display: flex;
  justify-content: center;
  margin: 1%;
  padding: 20px 10px 20px 10px;
  width: 50%;
  border: 1px solid #9356DC;
  background-color: #9356DC;
  border-radius: 40px;
  justify-content: center;
  margin-bottom: 10%;
}
#carte_menu footer {
  display: flex;
  flex-direction: column;
  padding: 5% 0 0 5%;
  background-color: #333333;
}
#carte_menu footer menu {
  position: relative;
  top: 210px;
}
#carte_menu footer img {
  width: 30%;
  padding-bottom: 4%;
  color: #FFF;
}
#carte_menu .link {
  margin-bottom: 2%;
}
#carte_menu .link i {
  font-size: 14px;
  width: 14px;
}

/*# sourceMappingURL=styles.css.map */
