.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F2F2F2;
    &__bg {
        width: 100%;
        height: 300px;
        background-position: center center;
        background-size: cover;
        z-index: 1;
        &--paletteGout{
            background: url('/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg') no-repeat;
            background-position: center center;
            background-size: cover;
        }
        &--noteEnchantee{
            background: url('/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg') no-repeat;
            background-position: center center;
            background-size: cover;
        }
        &--laFrancaise{
            background: url('/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg') no-repeat;
            background-position: center center;
            background-size: cover;
        }
        &--deliceSens{
            background: url('/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg') no-repeat;
            background-position: center center;
            background-size: cover;
        } 
    }
    &__commande{
        position: relative;
        bottom: 50px; 
        width: 100%;
        border: 0px solid $colour-white;
        border-radius: 40px 40px 0 0;
        background-color: #F2F2F2;
        z-index: 2;
        &__title{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding-left: 5%;
            margin-top: 4%;
            & i {
                margin-right: 10%;
            }
        }
        &__liste {
            display: flex;
            flex-direction: column;
            padding: 0 5% 5% 5%;
            p {
                width: 40px;
                border-bottom: 3px solid $colour-tertiary;
            }
        }
    }
    & .btn{
        justify-content: center;
        margin-bottom: 10%;
    }
}

.anim-languette {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 95%;
    border: 0px solid #FFF;
    border-radius: 20px;
    background-color: #FFF;
    padding: 2%;
    margin-bottom: 4%;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
}

.block {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    transition: width 1s ease;
    z-index: 1;
    &__content{
        display: flex;
        flex-direction: column;
        text-align: left;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        flex: 1;
        &__title {
            font-weight: bold;
            margin: 4px 0 4px 5px;
            display: inline-block;
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        &__subtitle{
            margin: 4px 0 4px 5px;
            display: inline-block;
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    &__prix {
        display: flex;
        align-items: flex-end;
        margin: 4px 10px 4px 0;
        font-family: "roboto", sans-serif;
        font-weight: bold;
        text-align: center;
    }
    &__check-box {
        position: absolute;
        top: 0px;
        right: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 0%;
        background-color: aqua;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 1s ease;
        &::after {
            content: '';
            position: absolute;
            top: 0px;
            right: 0px;
            height: 100%;
            width: 100%;
            transform: scaleX(0);
            transform-origin: right;
            transition: transform 1s ease;
        }
        & i {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            color: #FFF;
            font-size: 2em;
            transition: transform 1s ease ;
        }
    }
}

