.btn {
    display: flex;
    justify-content: center;
    margin: 1%;
    padding: $padding-btn;
    &__large {
        width: 50%;
        border-radius: 40px;    
    }
    &__heart {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 10%;
        /* margin-right: 10%; */
    }
    &--purple {
        border: 0px solid;
        background: linear-gradient(-20deg, $colour-primary, $colour-secondary);
        box-shadow: 1px 3px 3px darken($colour-primary, 10%);
        &:hover {
            background: linear-gradient(-20deg, lighten($colour-primary, 5%), lighten($colour-secondary, 2%));
            box-shadow: 2px 5px 3px darken($colour-primary, 20%);
        }
    }
}

.empty{
    display: flex;
    position: absolute;
    & i {
    transition: all 1s cubic-bezier(0.4, 0, 1, 1);
    }
}

.full {
    position: relative;
    top: 0;
    right: 0;
    & i {
    opacity: 0;
    transition: all 1s ease;
    }
}



