.loading {
    &__spinner {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: opacity 1000ms ease-in-out;
        background-color: $colour-tertiary;
        &::after{
            content: "";
            height: 200px;
            width: 200px;
            border: 40px solid $colour-secondary;
            border-top-color: $colour-primary;
            border-radius: 50%;
            opacity: 1;
            animation: loading-spinner $prog-load-spin-dur $prog-load-spin-delay both cubic-bezier(.81,.35,.6,1) ;
        }
    }
    &__list {
        &__block {
            position: relative;
            opacity: 0;
            top: 50px;
            animation: loading-list $list-block-dur $list-block-delay both ease 1;
            transform-origin: center bottom;
            &--b2 {
                animation-delay: $list-block-delay * 2;
            }
            &--b3 {
                animation-delay: $list-block-delay * 3;
            }
            &--b4 {
                animation-delay: $list-block-delay * 4;
            }
            /* &__add {
                transform-origin: right;
            } */ 
        }
    }  
}

.anim-languette {
    &:hover > .block {
        width: 80%;
    }
    &:hover > .block__check-box {
        transform: scaleX(1);
        width: 20%;
    }
    &:hover > .block__check-box::after {
        transform: scaleX(1);
    }
    &:hover i {
        transform: rotate(1turn);
    } 
}

.conteneur {
    animation: conteneur 0ms $conteneur-delay both ease  ;
}