@font-face {
    font-family: 'roboto';
    src: url('Roboto-Black.ttf') format('ttf'),
         url('Roboto-BlackItalic.ttf') format('ttf'),
         url('Roboto-Bold.ttf') format('ttf'),
         url('Roboto-BoldItalic.ttf') format('ttf'),
         url('Roboto-Italic.ttf') format('ttf'),
         url('Roboto-Ligth.ttf') format('ttf'),
         url('Roboto-LigthItalic.ttf') format('ttf'),
         url('Roboto-Medium.ttf') format('ttf'),
         url('Roboto-MediumItalic.ttf') format('ttf'),
         url('Roboto-Regular.ttf') format('ttf'),
         url('Roboto-Thin.ttf') format('ttf'),
         url('Roboto-ThinItalic.ttf') format('ttf'),
         url('RobotoCondensed-Bold.ttf') format('ttf'),
         url('RobotoCondensed-BoldItalic.ttf') format('ttf'),
         url('RobotoCondensed-Italic.ttf') format('ttf'),
         url('RobotoCondensed-Ligth.ttf') format('ttf'),
         url('RobotoCondensed-LigthItalic.ttf') format('ttf'),
         url('RobotoCondensed-Regular.ttf') format('ttf');
}

@font-face {
    font-family: 'shrikhand';
    src: url('Shrikhand-Regular.otf') format('otf');
}

h1 {
    font-family: 'shrikhand', sans-serif;
}

p {
    font-family: 'roboto', sans-serif;
}

.btn {
    font-family:'shrikhand', sans-serif;
    font-size: medium;
    font-weight: bold;
    color: $colour-white; 
}