#fonctionnement {
    display: flex;
    flex-direction: column;
    margin: 10% 0 10% 0;
    @include tablette {
        margin: 5% 0 5% 0;
        & h2 {
            font-size: 28px;
        }
    }
    @include desktop {
        margin: 5% 0 5% 0;
        & h2 {
            font-size: 38px;
        }
    }
    ul.list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 5% ;
        &> li {
            display: flex;
            justify-content: left;
            align-items: center;
            padding: $padding-btn;
            margin: 10px;
            width: 85%;
            border: 0px solid $colour-grey;
            background-color: $colour-grey;
            border-radius: 20px;
            box-shadow: 3px 5px 10px darken($colour-grey, 10%);
            list-style-type: decimal;
            @include tablette {
                margin-bottom: 20px ;
            }
            @include desktop {
                margin-bottom: 30px ;
            }
            i {
                margin: 0 5% 0 5%;
                color: darken($colour-grey,50%);
            }
            &:hover {
                background-color: lighten($colour-primary, 30%);
                i {
                    color: $colour-primary;
                }
            }
        }
    }
}