@mixin btn($colour) {
    display: flex;
    justify-content: center;
    margin: 1%;
    padding: $padding-btn;
    width: 50%;
    border: 1px solid $colour;
    background-color: $colour;
    border-radius: 40px;
}