$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$colour-white: #FFF;
$colour-black: #000;
$colour-grey: #F2F2F2;
$padding-btn: 20px 10px 20px 10px;
$img-radius: 20px 20px 0 0;